Django==3.1.6
django-cors-headers==3.7.0
django-summernote==0.8.11.6
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
idna==2.10
numpy==1.19.4
Pillow==8.1.0
six==1.15.0
sqlparse==0.4.1
TBB==0.1
urllib3==1.26.3