.tab {
    width: 300px;
}
.products-title {
    font-weight: 900 !important;
    margin-top: 30px !important;
}
.products-subtitle {
    font-weight: 900 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.products-item {
    margin-right: 30px;
    margin-bottom: 20px;
}

.MuiTab-root {
    min-width: 150px !important;
}