.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex-container > div {
  padding-top:10px;
}
.paginate-ctn {
  display: flex;
  float: right;
}
.round-effect {
  color:#00a2a2;
  cursor:pointer;
  font-size:16px;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  padding-top:9px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin:5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-decoration: none;
}
.round-effect:hover {
  text-decoration: none;
  background:#00a2a2;
  color:#FFF;
}
.round-effect:hover a {
  text-decoration: none;
  color:#FFF;
}
.active_p {
  background:#00a2a2;
  color:#FFF;
}
.title-container {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #787878;
}
.pagination-container {
  padding-left: 10%;
  padding-right: 10%;
}
.pagination-title {
  float: left;
  font-size: 50px;
  font-weight: 900 !important;
  font-variant: small-caps;
  color: #404040;
}
.pagination-card {
  margin-right: 10px;
  border: none !important;
  box-shadow: none !important;
}
.pagination-card-action {
  background-color: rgb(235, 234, 229) !important;
  border: none !important;
}
.pagination-card-content {
  padding: 10px 0 10px 0 !important;
}
