#MainBanner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.wideScreen {
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(30%);
    position: relative;
}
.content {
    position: absolute;
    padding: 20px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 80%;
    width: 100%;
}
.title {
    color: white;
    font-size: 80px;
    margin: 0;
    float: right;
    font-weight: 900 !important;
}
.subtitle {
    color: white;
    font-size: 40px;
    margin: 0;
    float: right;
    font-weight: 900 !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.buttonText {
    color: white;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-variant: small-caps;
    float: right;
}
.introduce {
    font-weight: 900;
    margin-bottom: 1% !important;
}
.avatar {
    border-radius: 50%;
}
.smallCaps {
    font-variant: small-caps;
    font-weight: 900 !important;
}
.info {
    font-size: 15px !important;
    letter-spacing: 1px;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

